
body{
 background-color: aliceblue;
}

.Navbar{
    background-color: black;
    font-size: medium;
    font-style:white ;
}

.Jubotron{
    background-color: gainsboro;
    text-align: center;
    font-size: large;

}
.Card{
    background-color: white;
}