.container {
justify-content: center;

}
#landpage{
 background-color:white;
 margin: 2px;
 align-items: center;
}
.navbar-brand{
    align-items: left;
    padding-left: 5px;
}

#jumbotron{
text-align: left;
background-color: rgb(238, 236, 236);
height: auto;
width: auto;
margin-top: 10px;
margin-bottom: 30px;
}

#jumbotron h1{
    font-size: 450%;
}
#jumbotron p{
    font-size: large;
}



.container fluid{
    padding: 0;
    margin: 0;
}
.card-img-top{
    background-color: rgb(214, 207, 207);
    width:auto ;
    height: auto;
}

.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}